.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
src/main/webapp/.sass-cache
src/main/webapp/connect.lock
src/main/webapp/coverage
src/main/webapp/libpeerconnection.log
src/main/webapp/npm-debug.log
src/main/webapp/testem.log
src/main/webapp/typings

# Angular
src/main/webapp/dist
src/main/webapp/node_modules

# Angular e2e
src/main/webapp/e2e/*.js
src/main/webapp/e2e/*.map

# System Files
.DS_Store
Thumbs.db
